@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

$primary_color: #1da2d5;


body{
    font-weight: 300; 
    font-family: 'Open Sans', sans-serif;
}
p{
    font-size: 15px;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
}
a:hover{
    color: #fff;
    text-decoration: none;
}


.no_padd{
    padding: 0;
}
.theme_btn{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    padding: 12px 15px;
    text-transform: uppercase;
    background: $primary_color;
}
.arrow_icon {
    width: 7px;
    height: 15px;
    display: inline-block;
    margin: 0 0 -4px 2px;
    background: url(../images/arrow.png) no-repeat;
    background-size: contain;
}