#footerMenu {
    min-height: 50px;
    margin: 100px 0 0;
    padding: 10px 0;
    background: #333;
    .menu-footer-menu-container {
        width: calc(100% - 50px);
        display: inline-block;
    }
    #toTop {
        float: right;
        padding: 10px 15px;
        display: inline-block;
        cursor: pointer;
        background: $primary_color;
        .fas{
            color: #fff;
        }
    }
    #menu-footer-menu{
        float: none;
        text-align: center; 
        margin-top: 5px;
        li {
            float: none;
            display: inline-block;
            a{
                color: #fff;
                font-size: 15px;
                text-transform: uppercase;
                padding: 5px 0;
                &:after {
                    content: '';
                    width: 1px;
                    height: 15px;
                    display: inline-block;
                    background: #fff;
                    margin: 0 10px -2px;
                    -webkit-transform: rotate(15deg);
                    transform: rotate(15deg);
                }
            }
            &:nth-last-child(1) a:after {
                display: none;
            }
        }
    }
}
#footerLogo {
    padding: 40px 0;
    .footer_logo {
        padding: 0 0;
        text-align: center;
        list-style: none;
        li{
            display: inline-block;
            img{
                width: 115px;
            }
        }
    }
}
#copyRights {
    text-align: center;
    margin-bottom: 30px;
    p {
        font-size: 14px;
        color: #707070;
    }
}