#header {
    color: #fff;
    width: 100%;
    position: absolute;
    background: linear-gradient( to bottom, #000, rgba(255, 0, 0, 0) );
    .menu_btn{        
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        margin: 25px 0px 0 35px;
        padding-right: 15px;
        display: inline-block;
        border-right: 1px solid #fff;
        cursor: pointer;
        &:before {
            content: '';
            width: 20px;
            height: 20px;
            margin: 0 5px -4px 0px;
            display: inline-block;
            background: url(../images/menu.png) no-repeat center;
        }
    }
    .lang {
        padding-left: 15px;
    }
    .brand {
        text-align: center;
        img {
            width: 150px;
            margin: 50px 0 0;
        }
    }
    .head_social {
        float: right;
        display: inline-block;
        margin-right: 10px;
        li{
            color: #fff;
            display: inline-block;
            margin: 25px 8px;
            i.fas {
                color: #fff;
                font-size: 14px;
            }
        }
    }
    .theme_btn {
        float: right;
        padding: 25px;
    }
}
#menu-main-menu li {
    width: 100%;
}