#heroBanner {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    .banner_caption {
        color: #fff;
        width: calc(100% - 30px);
        text-align: center;
        bottom: 85px;
        position: absolute;
        .container{
            position: relative;
            h2{
                font-size: 43px;
                line-height: 60px;
                font-weight: 300;
            }
            .small_text{
                color: #fff;
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
                text-shadow: 1px 1px #000;
                .arrow_icon{
                    -ms-transform: rotate(90deg); /* IE 9 */
                    -webkit-transform: rotate(90deg); /* Safari */
                    transform: rotate(90deg);
                }
            }
        }
        #pop_content {
            width: 275px;
            right: 0;
            bottom: 0;
            padding: 22px 0;
            color: #3e3e3e;
            position: absolute;
            background: #fff;
            #popClose .fa-times {
                color: #fff;
                padding: 6px 8px;
                background: $primary_color;
                border-radius: 32px;
                top: -12px;
                right: -10px;
                position: absolute;
            }
            .pop_cat {
                color: $primary_color;
                font-size: 11px;
                margin: 0;
            }
            h3{
                font-size: 25px;
                color: #686868;
                font-weight: 300;
                margin: 0 0 20px;
            }
            ul{
                list-style: none;
                padding: 0;
                li{
                    font-size: 14px;
                    color: #3e3e3e;
                }
            }
        }
    }
}
