@import '_core.scss';
@import '_header.scss';
@import '_footer.scss';
@import '_heroBaner.scss';


/* Home page */
#introText {
    text-align: center;
    padding: 85px 0 80px;
    h2 {
        font-size: 38px;
        font-weight: 300;
        margin: 0 0 45px;
    }
    .theme_btn{
        color: $primary_color;
        padding: 15px;
        padding: 10px 25px;
        margin: 40px 0 0;
        display: inline-block;
        background: #fff;
        border: 1px solid $primary_color;
    }
}
#featuredSec{
    background: #f5f5f5;
    img{
        width: 100%;
    }
    .img_show_right {
        float: right;
    }
    .fea_info {
        padding: 55px 35px;
        h3 {
            font-size: 38px;
            font-weight: 300;
            margin: 0 0 35px;
        }
        .theme_btn{
            margin: 25px 0 45px;
        }
    }
}
@media (max-width: 767px){
    #featuredSec .fea_info {
        float: left;
    }
}