@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
body {
  font-weight: 300;
  font-family: 'Open Sans', sans-serif; }

p {
  font-size: 15px; }

.nav > li > a:focus, .nav > li > a:hover {
  background-color: transparent; }

a:hover {
  color: #fff;
  text-decoration: none; }

.no_padd {
  padding: 0; }

.theme_btn {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  padding: 12px 15px;
  text-transform: uppercase;
  background: #1da2d5; }

.arrow_icon {
  width: 7px;
  height: 15px;
  display: inline-block;
  margin: 0 0 -4px 2px;
  background: url(../images/arrow.png) no-repeat;
  background-size: contain; }

#header {
  color: #fff;
  width: 100%;
  position: absolute;
  background: linear-gradient(to bottom, #000, rgba(255, 0, 0, 0)); }
  #header .menu_btn {
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 25px 0px 0 35px;
    padding-right: 15px;
    display: inline-block;
    border-right: 1px solid #fff;
    cursor: pointer; }
    #header .menu_btn:before {
      content: '';
      width: 20px;
      height: 20px;
      margin: 0 5px -4px 0px;
      display: inline-block;
      background: url(../images/menu.png) no-repeat center; }
  #header .lang {
    padding-left: 15px; }
  #header .brand {
    text-align: center; }
    #header .brand img {
      width: 150px;
      margin: 50px 0 0; }
  #header .head_social {
    float: right;
    display: inline-block;
    margin-right: 10px; }
    #header .head_social li {
      color: #fff;
      display: inline-block;
      margin: 25px 8px; }
      #header .head_social li i.fas {
        color: #fff;
        font-size: 14px; }
  #header .theme_btn {
    float: right;
    padding: 25px; }

#menu-main-menu li {
  width: 100%; }

#footerMenu {
  min-height: 50px;
  margin: 100px 0 0;
  padding: 10px 0;
  background: #333; }
  #footerMenu .menu-footer-menu-container {
    width: calc(100% - 50px);
    display: inline-block; }
  #footerMenu #toTop {
    float: right;
    padding: 10px 15px;
    display: inline-block;
    cursor: pointer;
    background: #1da2d5; }
    #footerMenu #toTop .fas {
      color: #fff; }
  #footerMenu #menu-footer-menu {
    float: none;
    text-align: center;
    margin-top: 5px; }
    #footerMenu #menu-footer-menu li {
      float: none;
      display: inline-block; }
      #footerMenu #menu-footer-menu li a {
        color: #fff;
        font-size: 15px;
        text-transform: uppercase;
        padding: 5px 0; }
        #footerMenu #menu-footer-menu li a:after {
          content: '';
          width: 1px;
          height: 15px;
          display: inline-block;
          background: #fff;
          margin: 0 10px -2px;
          -webkit-transform: rotate(15deg);
          transform: rotate(15deg); }
      #footerMenu #menu-footer-menu li:nth-last-child(1) a:after {
        display: none; }

#footerLogo {
  padding: 40px 0; }
  #footerLogo .footer_logo {
    padding: 0 0;
    text-align: center;
    list-style: none; }
    #footerLogo .footer_logo li {
      display: inline-block; }
      #footerLogo .footer_logo li img {
        width: 115px; }

#copyRights {
  text-align: center;
  margin-bottom: 30px; }
  #copyRights p {
    font-size: 14px;
    color: #707070; }

#heroBanner {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important; }
  #heroBanner .banner_caption {
    color: #fff;
    width: calc(100% - 30px);
    text-align: center;
    bottom: 85px;
    position: absolute; }
    #heroBanner .banner_caption .container {
      position: relative; }
      #heroBanner .banner_caption .container h2 {
        font-size: 43px;
        line-height: 60px;
        font-weight: 300; }
      #heroBanner .banner_caption .container .small_text {
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        text-shadow: 1px 1px #000; }
        #heroBanner .banner_caption .container .small_text .arrow_icon {
          -ms-transform: rotate(90deg);
          /* IE 9 */
          -webkit-transform: rotate(90deg);
          /* Safari */
          transform: rotate(90deg); }
    #heroBanner .banner_caption #pop_content {
      width: 275px;
      right: 0;
      bottom: 0;
      padding: 22px 0;
      color: #3e3e3e;
      position: absolute;
      background: #fff; }
      #heroBanner .banner_caption #pop_content #popClose .fa-times {
        color: #fff;
        padding: 6px 8px;
        background: #1da2d5;
        border-radius: 32px;
        top: -12px;
        right: -10px;
        position: absolute; }
      #heroBanner .banner_caption #pop_content .pop_cat {
        color: #1da2d5;
        font-size: 11px;
        margin: 0; }
      #heroBanner .banner_caption #pop_content h3 {
        font-size: 25px;
        color: #686868;
        font-weight: 300;
        margin: 0 0 20px; }
      #heroBanner .banner_caption #pop_content ul {
        list-style: none;
        padding: 0; }
        #heroBanner .banner_caption #pop_content ul li {
          font-size: 14px;
          color: #3e3e3e; }

/* Home page */
#introText {
  text-align: center;
  padding: 85px 0 80px; }
  #introText h2 {
    font-size: 38px;
    font-weight: 300;
    margin: 0 0 45px; }
  #introText .theme_btn {
    color: #1da2d5;
    padding: 15px;
    padding: 10px 25px;
    margin: 40px 0 0;
    display: inline-block;
    background: #fff;
    border: 1px solid #1da2d5; }

#featuredSec {
  background: #f5f5f5; }
  #featuredSec img {
    width: 100%; }
  #featuredSec .img_show_right {
    float: right; }
  #featuredSec .fea_info {
    padding: 55px 35px; }
    #featuredSec .fea_info h3 {
      font-size: 38px;
      font-weight: 300;
      margin: 0 0 35px; }
    #featuredSec .fea_info .theme_btn {
      margin: 25px 0 45px; }

@media (max-width: 767px) {
  #featuredSec .fea_info {
    float: left; } }

/*# sourceMappingURL=styles.css.map */
